@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.registerContainer {
    background: #ecf8fa;
}
.registerImage img{
    height: 256px;
}
button#button-searchProviders, #button-searchProcedures {
    background: #17a2b8;
    border-color: #ffffff;
    color:#ffffff;
}
// .searchBox{
//     background:#D1FAE2;
//     background-image: url("../img/search-background.png");
// }
// #pills-procedures-tab, #pills-providers-tab{
//     background: #77DEA1;
// }

.input-search{
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

.image-home img {
    height: 256px;
}

.list{
    width: 30%;
    margin: auto;
}
.footer {
  background: #343a40;
}
p.card-price {
  font-size: 2rem;
}
.lead {
  font-size: 1rem;
  font-weight: 300;
}

.howitworks {
  background: #ffffff;
}
.mainselector, .home-message {
  background: #c7ecee;
}
