@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.registerContainer {
    background: #ecf8fa;
}
.registerImage img{
    height: 256px;
}
button#button-searchProviders, #button-searchProcedures, .button-email{
    background: #17a2b8;
    border-color: #ffffff;
    color:#ffffff;
}
// .searchBox{
//     background:#D1FAE2;
//     background-image: url("../img/search-background.png");
// }
// #pills-procedures-tab, #pills-providers-tab{
//     background: #77DEA1;
// }

.input-search{
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

.image-home img {
    height: 256px;
}

.list{
    width: 30%;
    margin: auto;
}
.footer {
  background: #343a40;
}
p.card-price, .signup_btn {
  font-size: 2rem;
}
.lead {
  font-size: 1.0rem;
  font-weight: 300;
  
}
.home-message{
  background: #64ACAF;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 300;
  // min-height: 10rem;
}

.howitworks, .jumbo-video {
  background: #ffffff;
}
.mainselector, {
  background: #c7ecee;
}

.jumbo-footer, .signup_btn  {
  color: #ffffff;
}
.social{
  color:#c7ecee;
}

#headingTwo{
  background: #c7ecee;
}
#headingOne{
  background: #64ACAF;
}
.signup_btn{
  text-decoration: none;
  font-weight: 200;
}
Link:visited { text-decoration: none; }